@model EmployeeVM
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name Employee</h1>
<div asp-validation-summary="All"></div>

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <partial name="PartialView/_CreateEditPartialView"></partial>
    
</form>
@section Validation {

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
