
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>CheckYourInbox</h1>

<div class="main-agileinfo">
	<div class="agileits-top text-center">
		
	<h1>
		Check your Inbox :)

	</h1>

		<div id="BackToLoginBTN">
		<a  asp-action="Login"  class="rounded-2"  > Back to Login </a>
		</div>
	</div>
</div>
